.header-container {
    display: flex;

    justify-content: center;

    width: 100%;
    min-height: 7vh;

    background-color: #2E5DFA;
}

.header {
    display: flex;
    justify-content: space-around;

    width: 1440px;
    padding: 15px 0 ;
    border-bottom: 2px solid #162D7A;
}

.logo-container {
    height: 50px;
    cursor: pointer;
}

.logo {
    height: 50px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 40px;
}

.add-new-button {
    color: rgb(255, 255, 255);
    border: 2px solid #162D7A;
    background-color: #2B2D85;
    border-radius: 10px;
    cursor: pointer;
}

.add-new-button:hover {
    background-color: #3e40bb;
}

.sign-in-button {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #162D7A;
    cursor: pointer;
}

.sign-in-button:hover {
    background-color: rgb(224, 224, 250);
}
.cabinet-button {
    padding: 10px;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 50%;
    background-color: rgb(129, 129, 129);
}

.cabinet-button:hover {
    background-color: rgb(207, 207, 207);
}