<div class="chosen-ad-container">
    <div class="chosen-ad-pic"></div>
    <div class="chosen-ad-title">Village house</div>
    <div class="chosen-ad-price">150204$</div>
    <div class="chosen-ad-date">11.12.2022</div>
    <div class="chosen-ad-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum incidunt quidem voluptas laboriosam aspernatur et vel asperiores libero illum recusandae magnam debitis accusantium ullam, facere officiis velit architecto omnis quam iusto amet veritatis adipisci illo. Nam minus quidem assumenda maiores!</div>
</div>