.admin-wrapper {
    margin: 2vh 0 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;    
}

.admin-container {
    width: min(1440px, 100vw);
}

.admin-nav-btn{
    padding: 5px 10px;
    background-color: cornflowerblue;

    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    transition: all .2s;
}

.admin-nav-btn:hover {
    background-color: rgb(166, 192, 240);
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 30px;
}

