<div class="sign" >
    <h1>Sign up</h1>
    <p>or you can <span class="change-sign" (click)="change($event)">Sign in</span></p>
    <form>
        <div class="input-container">
            <label for="firstname" >First name</label>
            <input id="firstname" type="text">
        </div>
        <div class="input-container">
            <label for="lastname">Last name</label>
            <input id="lastname" type="text">
        </div>
        <div class="input-container">
            <label for="email">Email</label>
            <input id="email" type="text">
        </div>
        <div class="input-container">
            <label for="phone">Phone number</label>
            <input id="phone" type="text">
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input id="password" type="password">
        </div>
        <button routerLink="/admin" (click)="changeAuthFunc($event)">Sign up</button>
    </form>
</div>


