<h1>Sign in</h1>
<p>or you can <a routerLink="/registration" >Sign up</a></p>
<form>
    <div class="input-container">
        <label for="email">Email</label>
        <input id="email" type="text">
    </div>
    <div class="input-container">
        <label for="password">Password</label>
        <input id="password" type="password">
    </div>
    <button>Sign in</button>
    <p>or</p>
    <div class="google-in another-in">Join with Google</div>
    <div class="github-in another-in">Join with Github</div>
</form>